@import "tailwindcss";

@theme {
  --breakpoint-xs: 480px;
  --breakpoint-sm: 620px;
  --breakpoint-md: 910px;
  --breakpoint-md2: 760px;
  --breakpoint-ls: 1000px;
  /* --breakpoint-2xl: 100rem; */
  /* --breakpoint-3xl: 120rem; */
}

@layer components {
  .spinner {
    margin: 3.2rem auto 1.6rem;
    width: 60px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 8px solid #1B2631;
    border-right-color: #B7C7D7;
    animation: rotate 1s infinite linear;
  }

  .spinner-mini {
    margin: 0;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #B7C7D7;
    border-right-color: transparent;
    animation: rotate 1s infinite linear;
  }

  @keyframes rotate {
    to {
      transform: rotate(1turn);
    }
  }
}

/* Remove number input arrows */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}


:root {
  --gray-text: #6B7280;
  --gray-bg: #ccd2df;
  --hover-buttons-text: #0d57a7;
  --hover-buttons-bg: #56616d;
  --orange-main: #ff7d1a;
  --orange-secondary: #faa96c;
  --cream-main: rgb(240, 240, 233);
  --cream-secondary: rgb(220, 220, 210);
  --button-secondary: rgb(218, 22, 22);
}


body {
  font-family: 'Poppins', system-ui, -apple-system, BlinkMacSystemFont, 
               'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  color: #111; /* optional default text color */
  /* margin-block: calc(var(--spacing) * 10); */
  background-color: rgb(240, 240, 233);
  
}

.nav {
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.nav::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background: var(--orange-main); /* your color */
  transition: width 0.3s ease;
  
}

.nav:hover::after {
  width: 100%;
}

.nav:hover {
  font-weight: bold;
  transform: scale(1.1)
}

.category-link {
  width: 100%;
  text-align: left;
  text-underline-offset: 4px;
}
.category-link:hover {
  text-decoration-line: underline;
}

.checkoutFormInput {
  display: flex;
  padding: 7px 12px;
  border-radius: 6px;
  background-color: var(--gray-bg);
  border: 1px solid #ccc
}

.checkoutFormInput:focus {
  outline:none;
  background-color: white;
  border-color: var(--orange-main);
  border-radius: 6px;
}